@(skola: model.Skola)

@import model.views._
@import model.views.helper._

@main("Docházka") {
	<div class="alert alert-success" id="success" style="display: none;"></div>
	<div class="alert alert-danger" id="danger" style="display: none;"></div>
	<div class="row">
  	@for(slozeniTrid <- skola.slozeniTrid) {
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jméno třídy: @slozeniTrid.trida.nazev</h3>
				</div>
				<div class="panel-body">
		         	@Messages("title.zaci")
		          	<ul>
		 				@for(zak <- slozeniTrid.zaci) {
							<li id="cont-@zak.uuidZak.get.toString">
								<a href="@routes.ZakController.editZak(zak.uuidZak.get.toString)"><span class="glyphicon glyphicon-edit"></span> @zak.jmeno @zak.prijmeni</a>
								<a href="#" id="@zak.uuidZak.get.toString" class="pull-right"><span class="glyphicon glyphicon-trash"></span></a>
							</li>
							<script type="text/javascript">
							$('#@zak.uuidZak.get.toString').click(function() { smazZaka($(this).attr('id')); });
							</script>
						}
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		var smazZaka = function(uuidZak) {
			bootbox.setDefaults({locale: "cz"})
			bootbox.confirm("@Messages("question.delete.zak")", function(result) {
				if(result) {
					$.when(
						appRoutes.controllers.ZakController.delete().ajax({
							data: JSON.stringify({uuidZak: uuidZak}),
							contentType: 'application/json'
						})
					).then(function(resp) {
						$('#danger').hide();
						$('#success').show();
						$('#success').html(resp.message);
						$('#cont-'+uuidZak).remove();
					}).fail(function(resp) {
						$('#success').hide();
						$('#danger').show();
						$('#danger').html($.parseJSON(resp.responseText).message);
					});
				}
			}); 
		}
		</script>
	}
	</div>
}
