@(zakForm: play.api.data.Form[model.Zak], call: play.api.mvc.Call, tridy: Seq[model.views.Selectable], legend: String)(implicit flash: Flash)

@import model.views._
@import model.views.helper._

@main("Docházka - " + Messages(legend)) {
	
	@views.html.helper.error(zakForm)
	
	<form class="form-horizontal" action="@call" method="post">
		<fieldset>
			<legend>@Messages(legend)</legend>
			<div class="form-group">
				@views.html.bootstrap3.hidden(zakForm("uuidZak"))
				@views.html.bootstrap3.text(zakForm("poradoveCislo"), ColumnWidth(2,5), css="mask-pnum")
		    </div>
			<div class="form-group">
				@views.html.bootstrap3.text(zakForm("prijmeni"), ColumnWidth(2,5))
		    </div>
			<div class="form-group">
				@views.html.bootstrap3.text(zakForm("jmeno"), ColumnWidth(2,5))
		    </div>
			<div class="form-group">
				@views.html.bootstrap3.select(zakForm("uuidTrida"),	tridy, ColumnWidth(2,5))
		    </div>
		    
			<div class="form-group">
				<div class="col-xs-7 text-right">
					<a class="btn btn-default" href="@routes.DochazkaController.summary">@Messages("prerusit")</a>
					<button class="btn btn-success" name="submit" type="submit">@Messages("zak.update")</button>
				</div>
			</div>
		</fieldset>
	</form>
}