@(trida: model.Trida, chartData: List[model.Chart])

@import model.views._
@import model.views.helper._

@main(Messages("label.attendance.of.class", trida.nazev)) {

	<div class="row">
		<div style="position: absolute; top: 86px;">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default active" for="asc">
		    <input type="radio" name="direction" id="asc" checked="checked"><span class="glyphicon glyphicon-sort-by-attributes"></span></input>
		  </label>
		  <label class="btn btn-default" for="desc">
		    <input type="radio" name="direction" id="desc"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></input>
		  </label>
		</div>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default active" for="poradi">
		    <input type="radio" name="orderBy" id="poradi" checked="checked">@Messages("sort.ordinal")</input>
		  </label>
		  <label class="btn btn-default" for="absence">
		    <input type="radio" name="orderBy" id="absence">@Messages("sort.absence")</input>
		  </label>
		</div>
		</div>
		<h3 class="text-center">@Messages("class") @trida.nazev</h3>
		<hr/>
	</div>
	<script type="text/javascript">
		$('input:radio').change(function(){
			var asc = $('#asc').is(':checked');
			var poradi = $('#poradi').is(':checked');
			getDochazka(poradi ? 'poradi' : 'absence', asc ? 'asc': 'desc')
		});

		var getDochazka = function(orderBy, direction) {
			$.when(
				appRoutes.controllers.DochazkaController.prehledByUUIDTridaOrdered('@trida.uuidTrida.get.toString', orderBy, direction).ajax()
			).then(function(resp) {
				$('#chart-cont').html(resp)
			});
		};
	</script>
	
	<div id="chart-cont">
		@views.html.dochazka.content(trida, chartData)
	</div>
}
