body {
	padding-top: 70px;
	padding-bottom: 30px;
	min-width: 970px;
}

.alert-success {
	border-left: 3px solid #3c763d;
}

.alert-danger {
	border-left: 3px solid #a94442;
}

.pocetHodin {
	width: 70px;
}

.error {
	border: 1px solid red;
}

ul.hide-bullet li {
	list-style-type: none;
}

th {
	font-weight: normal;
}

#results {
	position:absolute;
	top: 10px;
}

#results td {
	padding-left: 10px;
	font-weight: bold;
}