@(tridaForm: play.api.data.Form[model.Trida], call: play.api.mvc.Call)(implicit flash: Flash)

@import model.views._
@import model.views.helper._

@main("Docházka - " + Messages("legend.trida.nova")) {
	
	@views.html.helper.error(tridaForm)
	
	<form class="form-horizontal" action="@call" method="post">
		<fieldset>
			<legend>@Messages("legend.trida.nova")</legend>
			<div class="form-group">
				@views.html.bootstrap3.text(tridaForm("nazevTrida"), ColumnWidth(2,5))
		    </div>
			<div class="form-group">
				<div class="col-xs-7 text-right">
					<a class="btn btn-default" href="@routes.DochazkaController.summary">@Messages("prerusit")</a>
					<button class="btn btn-success" name="submit" type="submit">@Messages("trida.save")</button>
				</div>
			</div>
		</fieldset>
	</form>
}