@(tridaForm: play.api.data.Form[model.Trida], tridy: Seq[model.views.Selectable])

@import model.views._
@import model.views.helper._

@main("Docházka") {
	<div class="form-horizontal">
		<fieldset>
			<legend>@Messages("legend.trida.edit")</legend>
			<div class="form-group">
				@views.html.bootstrap3.select(tridaForm("uuidTrida"), tridy, ColumnWidth(2,5))
		    </div>
		</fieldset>
	</div>
	<div id="form">
	</div>

	<script type="text/javascript">
		$('#uuidTrida').change(function() {
			var uuidTrida = $(this).val();
			getTridaInfo(uuidTrida);
        });

		var getTridaInfo = function(uuidTrida) {
			$.when(
				appRoutes.controllers.TridaController.editTrida(uuidTrida).ajax()
			).then(function(resp) {
				showTridaForm(resp);
			});
		};

		var showTridaForm = function(resp) {
			//console.log(resp)
			$('#form').html(resp)
		}
	</script>
}