@(skola: model.Skola)

@main("Školní docházka - přehled") {
  	@for(slozeniTrid <- skola.slozeniTrid) {
    <div class="list-group">
      <a href="@routes.DochazkaController.prehledByUUIDTrida(slozeniTrid.trida.uuidTrida.get.toString)" class="list-group-item">
        <h4 class="list-group-item-heading">Třída  @slozeniTrid.trida.nazev</h4>
        <hr/>
        <ul class="hide-bullet">
	 	@for(zak <- slozeniTrid.zaci) {
			<li>@zak.poradoveCislo. @zak.jmeno @zak.prijmeni</li>
		}
		</ul>
      </a>
    </div>
	}
}
